<launch>

    <!-- 
        $ roslaunch realsense2_camera rs_camera.launch filters:=pointcloud 
        $ roslaunch realsense2_camera rs_camera.launch align_depth:=true 
        Warning: If using filters:=pointcloud, depth image will be filled with colored. 
   -->

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="filters" default="pointcloud" />
    </include>

    <!-- 
        Params:
        fixed frame: camera_link
        point cloud topic: /camera/depth/color/points
        color image: /camera/depth/color/points
        depth image: /camera/depth/image_rect_raw
    -->
</launch>
