<launch>

    <!-- This is for launching Asus rgbd-camera.
    This is also a replacement of the following operations:

    $ roslaunch openni2_launch openni2.launch

    $ rosrun rqt_reconfigure rqt_reconfigure  
    Select camera/driver, set "depth_registration" to true
    (Optional: Set "color_depth_synchronization" to true.)

    -->

    <include file="$(find openni2_launch)/launch/openni2.launch">
        <arg name="depth_registration" default="true" />
    </include>

    <!-- <node type="rviz" name="rviz_depth_image" pkg="rviz"
       args="-d $(find scan3d_by_baxter)/config/rviz_depth_image.rviz" 
    />  -->
    <node type="rviz" name="rviz_depth_image" pkg="rviz"
       args="-d $(find scan3d_by_baxter)/config/rviz_depth_image_2.rviz" 
    /> 
</launch>
