<launch>
    <!-- ============================ OFFICIAL SCRIPTS ============================-->

    <!-- run gazebo-->
  <include file="$(find baxter_gazebo)/launch/baxter_world.launch"></include>

    <!-- enable robot -->
  <node name="enable_robot" pkg="baxter_tools" type="enable_robot.py" output="screen" args="-e"/>

    <!-- trajectory action server -->
  <!-- <node name="joint_trajectory_action_server" pkg="baxter_interface" type="joint_trajectory_action_server.py"/> -->

    <!-- joint_position_keyboard -->
  <node name="joint_position_keyboard" pkg="baxter_examples" type="joint_position_keyboard.py"/>

</launch>
