<launch>

    <!-- roslaunch scan3d-by-baxter test_open3d_read_pub_sub_display.launch -->

    <param name="topic_name_kinect_cloud" type="string" value="/kinect2/qhd/points" /> 

    <node name="read_pointcloud_from_file_and_publish"
        type="read_cloud_and_pub_by_open3d.py" 
        pkg="scan3d-by-baxter" output = "screen">
    </node>

    <node name="sub_pointcloud_from_topic_and_display"
        type="sub_cloud_and_display_by_open3d.py"
        pkg="scan3d-by-baxter" output = "screen">
    </node>
        
</launch>

