<launch>
    <!-- ===================== Official Scripts for Baxter Gazebo =====================-->

    <!-- run gazebo-->
  <include file="$(find baxter_gazebo)/launch/baxter_world.launch"></include>

    <!-- enable robot -->
  <node name="enable_robot" pkg="baxter_tools" type="enable_robot.py" output="screen" args="-e"/>

    <!-- trajectory action server -->
  <node name="joint_trajectory_action_server" pkg="baxter_interface" type="joint_trajectory_action_server.py" args="-m position"/>

    <!-- Keyboard input. Please commented this out if running trajectory action server -->
  <!-- <node name="joint_position_keyboard" pkg="baxter_examples" type="joint_position_keyboard.py"/> -->

  <!-- ============================ RVIZ ============================-->

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find scan3d_by_baxter)/config/rviz_with_baxter.rviz" />

  <!-- ============================ MY SERVICE ============================-->

  <node name="my_baxter_services_provider" pkg="scan3d_by_baxter"
    type="my_baxter_services_provider.py" output="screen" />

</launch>
